@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.link-div-head li a {
  font-weight: 500;
 
}
/* Navbar.module.css */

.navLink {
  position: relative;
  padding: 5px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color:  #15a135;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navLink:hover::after {
  width: 100%;
  left: 0;
 
}
.navLink:hover {
  color: #15a135;
}
.active {
  color: #15a135;
}

.active::after {
  width: 100%;
  left: 0;
}


.home-link {
  border-bottom: 2px solid #15a135;
}

.contact-btn-head:hover {
  background-color: #15a135;
  opacity: 1;
  transition: .5s;
}

.contact-btn-head {
  width: 164px;
  height: 44px;
  padding: 7px 32px 7px 32px;
  gap: 10px;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  text-align: center;
  color: white;
  transition: .5s;
}

.call-btn-head {
  padding: 7px 20px 7px 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  border: 1.5px solid #15A135;
  width: 220px;
  height: 44px;
  justify-content: center;
  color: #15A135;
  transition: .5s;

}

.call-btn-head:hover {
  background-color: #FFB800;
  color: black;
  border: 1.5px solid #FFB800;
  transition: .5s;
}


.product-div {
  background: #F5F5F5;
}

.product-div:hover {
  background-image: url(/assets/images/yellow-bg-img.svg);
  /* background-size: contain; */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: white !important;
}

.product-div img {
    transition:  .2s ;
}
.product-div:hover img {
  transform: translateY(-15px);
  transition: .2s linear;

}

.main-banner {
  background-image: url(/assets/images/banner.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  background-size: cover;

}
.mob-main-banner {
  background-image: url(/assets/images/mobile-banner-home.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  background-size: cover;

  padding-bottom: 40px;
}
p {
  font-size: 16px !important;
}
.bg-green{
   background-color: #15A135;
}

.text-green {
  color: #028921;
}
.text-green-dark{
  color: #005C15;
}
.verified-icon{
  color: #028921;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #056b1d;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.slick-dots {
  bottom: -30px;

}

.slick-dots li {
  margin: 0;
}

.image-slider .slick-track {
  display: flex;
  justify-content: center;
  align-items: end !important;
}



.link-div-head-bg li a {
  color: #022201;
  font-weight: 600;
}

.product-sec-bg {
  background-color: #b8edc5;
}

.join-signup-form {
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100% !important;
  background-image: url(/assets/images/sign-up-form-bg.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: initial;
}

.signup-form-input {
  border-radius: 6px;
  background: white;
  border: 1px solid white;
  padding: 15px 10px;
  outline: none;
}

.signup-form-input:focus {
  background-color: white;
  outline: none;
}

.sign-up-btn {
  border: 1px solid white;
  width: 100%;
  padding: 12px 10px;
  border-radius: 40px;
  outline: none;

}


.sign-up-btn:hover {
  background-color: #FFB800;
  color: #000;
  border: 1px solid #FFB800;
}


.steps-inner-div {
  background-color: #F5F5F5E5;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
 
}

/* 
@media screen and (max-width: 768px) {
  .steps-section {

    background-image: url(/assets/images/home-ecoearner-snippet.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-position: top center;
    height:300px;
  }
  .steps-inner-div {
    background-color: #F5F5F5E5;
    transform: translate(0%, 0%);
   
  }
} */



.packages-div div{
  background-color: #F5F5F5;
  transition: 1s;
}
.packages-inner-div:hover{
  background-color: #15A135;
  color: white;
  transition: 1s;
}

.packages-div div:hover h1,
.packages-div div:hover p,
.packages-div div:hover .verified-icon{
  color: #F5F5F5;

}

@media (max-width: 768px) {
  .cotact-div-top-border{
    border-top: 1px solid #fff;
  }
}
@media (min-width: 768px) {
  .cotact-div-left-border{
    border-left: 1px solid #fff;
  
  }
}

/* .cotact-div-top-border{
  border-top: 1px solid #fff;
} */
/* styles.css */

.signup-form-input {
  background-color: initial; /* Or any default background color */
  color: white; /* Default text color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.signup-form-input:focus {
  background-color: white; /* Change background to white on focus */
  color: #005C15; /* Change text color to black on focus */
}






.data-\[justify\=start\]\:justify-start[data-justify="start"] {
  justify-content: flex-end;
}

ul.h-full.flex-nowrap.items-center.data-\[justify\=start\]\:justify-start.data-\[justify\=start\]\:flex-grow.data-\[justify\=start\]\:basis-0.data-\[justify\=center\]\:justify-center.data-\[justify\=end\]\:justify-end.data-\[justify\=end\]\:flex-grow.data-\[justify\=end\]\:basis-0.flex.flex-col.gap-5 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 9px;
}

ul.h-full.flex-row.flex-nowrap.items-center.data-\[justify\=start\]\:justify-start.data-\[justify\=start\]\:flex-grow.data-\[justify\=start\]\:basis-0.data-\[justify\=center\]\:justify-center.data-\[justify\=end\]\:justify-end.data-\[justify\=end\]\:flex-grow.data-\[justify\=end\]\:basis-0.flex.gap-5.justify-end {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 10px;
}

@media screen and (min-width: 1250px) {
  header.z-40.flex.px-6.gap-4.w-full.flex-row.relative.flex-nowrap.items-center.justify-between.h-\[var\(--navbar-height\)\].max-w-\[1024px\] {
    max-width: 80%;
  }
}

.accordion-title {
  background-color: #f0f0f0;
  /* Change this to your desired background color */
  padding: 10px;
  border-radius: 5px;
}

.accordion-item {
  border: none;
  /* Remove the border */
  box-shadow: none;
  /* Remove any shadow if present */
}

.group.is-splitted .group-\[\.is-splitted\]\:shadow-medium {
  --tw-shadow: none;
  --tw-shadow-colored: none;
  box-shadow: none !important;
}

.faq-banner-section {
  background-color: #b5eec2;
}

.accordion h2 button {
  padding: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  gap: 0 !important;
}

.contact-banner-section {
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 100% !important;
  background-color: #0a890d;
  background:
    /* top, transparent red */
    linear-gradient(#0a890d1f, #0a890d4a),
    /* bottom, image */
    url(/assets/images/form-bg.jpg);
}

.contact-page-input {
  border: 1px solid #0a890d;
}

#embed-map-canvas img {
  max-height: none;
  max-width: none !important;
  background: none !important;
}

.services-bg-images {
  background: linear-gradient(#0a890d00, #ffffffa3), url(/assets/images/services-bg.png);
  width: 100%;
  background-position: top center;
  display: flex;
  background-repeat: no-repeat;
}
.services-bg-images1 {
  background: #fff;
  width: 100%;
  background-position: top center;
  display: flex;
  background-repeat: no-repeat;
}

.services-images {
  background: linear-gradient(#0a890d00, #ffffffa3), url(/assets/images/services-bg.png);
  width: 100%;
  background-position: top center;
  background-position-y: 0px;
  background-size: cover;
  display: flex;
}

.services-light-bg {
  background-image: url(/assets/images/services-light-bg.png);
}

.signup-newsletter-bg {
  background-image: url(/assets/images/Green-signup-bg.png);
}

.products-bg-section {
  background-image: url(/assets/images/Products.png);
}

.custom-pagination li a {
  background-color: #32CD32 !important;
  /* Change to your desired green color */
  color: white;
  /* Ensure text is visible on green background */
}

.custom-pagination li.active a {
  background-color: #228B22;
  color: white;
}

.mid_section {
  background-color: #002202;
}

.main_section {
  background-color: #e8ffed;
}

.smalll {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-color: #159f35;
}

.right_section h1 {
  margin-bottom: 25px;
  font-size: 27px;

}

.right_section p {
  margin-bottom: 25px;

}

.__section2 p {
  margin-left: 35px;
  margin-top: 20px;
}

.__section2 h1 {
  margin-top: 20px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}



/* what we do start css */

section.what-we-do {
  background-color: #eefff2;
  padding: 50px 0;
}

.do-left h2 {
  font-size: 50px;
  font-weight: 800;
  color: #008000;
}

.do-left h4 {
  font-size: 33px;
  font-weight: 600;
  background: #008000;
  width: fit-content;
  padding: 1px 10px;
  color: #fff;
  margin: 20px 0;
}

.do-left li {
  line-height: 30px;
  font-size: 22px;
  font-weight: 600;
  color: #5e5e5e;
  margin-bottom: 16px;
}


.do-green {
  background: #008000;
  height: 500px;
  max-width: 460px;
  border-radius: 60px 0;
}


.what-we-do.so-they-can {
  background-color: #b6edc2;
}

.what-we-do.so-they-can .do-green {
  border-radius: 60px;
}

.services-p-div {
  border: 1px solid #00a241;
  border-radius: 24px;
  color: #002101;
  margin: 10px;
  background-color: #ffffffb3;
}
.services-p-div img{
  background-color: transparent !important;
}
.services-p-div h1{
  color: #008000;
}
.services-p-div p{
  color: #008000;
}
.loader_ {
  border-top-color: #196901; /* Tailwind CSS blue-400 color */
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.shadow_menubar {
  box-shadow: 5px 0 30px -10px rgba(0, 0, 0, 0.1);
}

.footerLink{
  padding-left: 10px;
}
.footerLink:hover{
  color: #00a241;
  transition: .5s;
  transform: translateX(10px);

}
.product-img-bg{
  background-image: url('/assets/images/pro-bg-img.svg');
  background-repeat: no-repeat;
  background-position: center center;
}