@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.link-div-head li a {
  font-weight: 500;
}

.home-link {
  border-bottom: 2px solid #15a135;
}

.contact-btn-head:hover {
  background-color: #15a135;
  opacity: 1;
}

.contact-btn-head {
  width: 164px;
  height: 44px;
  padding: 7px 32px 7px 32px;
  gap: 10px;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  text-align: center;
  color: white;
}

.call-btn-head {
  padding: 7px 20px 7px 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  border: 1.5px solid #15A135;
  width: 220px;
  height: 44px;
  justify-content: center;
  color: #15A135;
}

.call-btn-head:hover {
  background-color: #FFB800;
  color: black;
  border: 1.5px solid #FFB800;

}

.buy-now-btn {
  background: #FFB800;
  color: #000;
  cursor: pointer;
  font-size: 15px;
  border: 0;
  transition: all 0.5s;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  /* Ensures the icon is hidden initially */
}

.buy-now-btn::after {
  content: "";
  /* Assuming this is the Font Awesome icon */

  font-weight: 400;

  transform: translateY(-50%) translateX(-10px);
  /* Adjust initial position */
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s, left 0.5s;
}

.buy-now-btn:hover {
  background: #FFB800;

  padding-right: 3.5rem;
  /* Increase padding on hover */
}

.buy-now-btn:hover::after {
  left: 85%;
  /* Position the icon within the button */
  opacity: 1;
  transform: translateY(-50%);
  /* Adjust transform as needed */
}

.product-div {
  background: #F5F5F5;
  transition: .3s linear;

}

.product-div:hover {
  background-image: url(/assets/images/yellow-bg-img.svg);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.product-div:hover img {
  transform: translateY(-15px);
  transition: .2s linear;

}

.main-banner {
  background-image: url(/assets/images/banner.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  background-size: cover;

}

p {
  font-size: 16px !important;
}
.bg-green{
   background-color: #15A135;
}

.text-green {
  color: #028921;
}
.text-green-dark{
  color: #005C15;
}
.verified-icon{
  color: #028921;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #056b1d;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.slick-dots {
  bottom: -30px;

}

.slick-dots li {
  margin: 0;
}

.image-slider .slick-track {
  display: flex;
  justify-content: center;
  align-items: end !important;
}



.link-div-head-bg li a {
  color: #022201;
  font-weight: 600;
}

.product-sec-bg {
  background-color: #b8edc5;
}

.join-signup-form {
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100% !important;
  background-image: url(/assets/images/sign-up-form-bg.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: initial;
}

.signup-form-input {
  border-radius: 6px;
  background: transparent;
  border: 1px solid white;
  padding: 15px 10px;
  outline: none;
}

.signup-form-input:focus {
  background-color: white;
  outline: none;
}

.sign-up-btn {
  border: 1px solid white;
  width: 100%;
  padding: 12px 10px;
  border-radius: 40px;
  outline: none;

}


.sign-up-btn:hover {
  background-color: #FFB800;
  color: #000;
  border: 1px solid #FFB800;
}

.steps-section {

  background-image: url(/assets/images/home-ecoearner-snippet.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 670px;
}


.steps-inner-div {
  background-color: #F5F5F5E5;
  transform: translate(0%, 50%);
  bottom: 0;
}

.packages-div div{
  background-color: #F5F5F5;
}
.packages-inner-div:hover{
  background-color: #028921;
  color: white;
  transition: .5s;
}

.packages-div div:hover h1,
.packages-div div:hover p,
.packages-div div:hover .verified-icon{
  color: #F5F5F5;

}









.data-\[justify\=start\]\:justify-start[data-justify="start"] {
  justify-content: flex-end;
}

ul.h-full.flex-nowrap.items-center.data-\[justify\=start\]\:justify-start.data-\[justify\=start\]\:flex-grow.data-\[justify\=start\]\:basis-0.data-\[justify\=center\]\:justify-center.data-\[justify\=end\]\:justify-end.data-\[justify\=end\]\:flex-grow.data-\[justify\=end\]\:basis-0.flex.flex-col.gap-5 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 9px;
}

ul.h-full.flex-row.flex-nowrap.items-center.data-\[justify\=start\]\:justify-start.data-\[justify\=start\]\:flex-grow.data-\[justify\=start\]\:basis-0.data-\[justify\=center\]\:justify-center.data-\[justify\=end\]\:justify-end.data-\[justify\=end\]\:flex-grow.data-\[justify\=end\]\:basis-0.flex.gap-5.justify-end {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 10px;
}

@media screen and (min-width: 1250px) {
  header.z-40.flex.px-6.gap-4.w-full.flex-row.relative.flex-nowrap.items-center.justify-between.h-\[var\(--navbar-height\)\].max-w-\[1024px\] {
    max-width: 80%;
  }
}